
/* header */
.header-nav{
    background-color: rgb(12, 140, 214); position: fixed; top: 0; width: 100%; left: 0;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.header-title{
    margin-left: 40px; color: #ffffff;
}

.header-items{
    color: #ffffff;
}

.sub-nav{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.158);
    width: 100%;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}


body{
    position: relative;
    top: 180px;
}


/* cass untuk mengatur grid */
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}


.grid-container > div{
    margin: 10px;
}

.item-1{
    background-color: rgb(219, 195, 233);
    grid-row: span 3;
    height: 550px;
    grid-column: span 3;
}

.item-2{
    background-color: rgb(200, 164, 221);
    height: 230px;
    grid-row: span 2;
    grid-column: span 4;
}

.item-3{
    background-color: rgb(236, 222, 206);
    height: 600px;
    grid-row: span 4;
    grid-column: span 2;
}

.item-4{
    background-color: rgb(180, 207, 169);
    height: 300px;
    grid-row: span 1;
    grid-column: span 2;
}

.item-5{
    background-color:  rgb(168, 105, 219);
    grid-row: span 5;
    height: 550px;
    grid-column: span 3;
}

.item-6{
    background-color: rgb(144, 167, 135);
    height: 550px;
    grid-row: span 4;
    grid-column: span 2;
}

.item-7{
    background-color: rgb(233, 212, 189);
    height: 250px;
    grid-column: span 2;
}

/* css untuk mengatur flex */
.flex-container{
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-1{
    height: 200px;
    width: 70.2%;
    background-color: rgb(56, 70, 62);
}

.flex-2{
    width: 27.2%;
    background-color: rgb(121, 128, 105);
}

.flex-3{
    height: 200px;
    margin-top: 20px;
    width: 100%;
    background-color: rgb(214, 200, 171);
}

/* grid image-items */
.item-1 > .icon-grid-items > img{
    margin-top: 240px;
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.item-5 > .icon-grid-items > img{
    margin-top: 240px;
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.item-2 > .icon-grid-items{
    display: flex;
    justify-content: center;
}

.item-2 > .icon-grid-items > img{
    position: block;
    margin-top: 11%;
    width: 10%;
}

.item-3 > .icon-grid-items > img{
    margin-top: 240px;
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.item-7 > .icon-grid-items > img{
    margin-top: 100px;
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.item-4 > .icon-grid-items > img{
    margin-top: 120px;
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.item-6 > .icon-grid-items > img{
    margin-top: 250px;
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}


/* flex image */

.flex-1 {
    display: flex;
    justify-content: center;
} 

.flex-1 > .image-flex > img{
    width: 90%;
    position: relative;
    top: 35%;
}

.flex-2{
    display: flex;
    justify-content: center;
}

.flex-2 > .image-flex > img{
    width: 90%;
    position: relative;
    top: 35%;
}


.flex-3{
    display: flex;
    justify-content: center;
}

.flex-3 > .image-flex > img{
    width: 90%;
    position: relative;
    top: 35%;
}